# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3

# Environment variables
.env
.env.*

# Virtual environment
venv/
.venv/
env/

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db